{% extends 'base.html' %}

{% block content %}
<h1>{{ claim.thesis }}</h1>
<p>{{ claim.timestamp }}</p>

{% if user.is_authenticated %}
  Posting response as {{ user.username }}
  <form action="{% url 'claim-detail' id=claim.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <div id="claims"></div>
    <input type="submit" value="Submit" />
  </form>
{% else %}
  <div class="sign-in-to-post">Sign in to post a reply and agree/disagree.</div>
{% endif %}

{% for response in responses %}
  <hr/>
  [<a href="{% url 'response-detail' id=response.id %}">permalink</a>]
  [{{ response.direction }}] -
  {{ response.body }}
  <br/>
  <b>Cited:</b>
  <ul>
    {% for cited_claim in response.citations.all %}
      <li>{{ cited_claim }} - [<a href="{% url 'claim-detail' id=cited_claim.id %}">view</a>]</li>
    {% endfor %}
  </ul>
  {% include 'claims/partials/reply_form.html' with form=reply_form %}
{% endfor %}

{% endblock %}
