<html>
  <head>
    <script type="text/javascript">
     window.API_HOST = '{{ settings.API_HOST }}';
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-themex.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bundle.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Wikitruth</a>
        </div>

        <div class="navbar-right nav-user">
          {% if user.is_authenticated %}
          <p class="navbar-text">{{ user.email }}</p>
          <a href={% url 'signout' %} class="btn btn-default navbar-btn">Sign Out</a>
          {% else %}
          <a href={% url 'signin' %} class="btn btn-default navbar-btn">Sign In</a>
          <a href={% url 'signup' %} class="btn btn-default navbar-btn">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
